@font-face {
  font-family: impactType;
  src: url(font/impact-label/ImpactLabel.ttf);
}

@font-face {
  font-family: basic;
  src: url(font/uwch.ttf);
}

html,
body {
  padding: 0%;
  margin: 0%;
}

a {
  min-width: 45%;
  font-family: basic;
  background-color: #000000b2;
  color: #c71c05;
  padding: 2%;
  text-decoration: none;
  font-size: larger;
  border-radius: 20px;
  box-shadow: 0px 8px 11px 3px #000000b2;
}

iframe {
  padding-top: 1rem;
  max-width: 100%;
  max-height: 100%;
}

.logo {
  display: flex;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  justify-self: center;
}

.logoDiv {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fellas {
  max-width: 75%;
  height: auto;
  border-radius: 20px;
}

.bioText {
  font-family: basic;
  background-color: #000000b2;
  color: #c71c05;
  width: 75%;
  text-align: center;
  margin-top: 5%;
  margin-bottom: 13%;
  height: fit-content;
  border-radius: 20px;
  box-shadow: 0px 8px 11px 5px #000000b2;
}

.bioText h1 {
  font-size: x-large;
  padding: 0 1rem 0 1rem;
}

.bioText p {
  padding: 0 1rem 0 1rem;
}

.bioBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#wrapper {
  background-image: linear-gradient(
    rgb(163, 44, 0),
    rgb(133, 1, 1),
    rgb(82, 0, 0),
    rgb(1, 1, 1)
  );
}

#nextGig {
  text-align: center;
  font-family: basic;
}

#externalLinks {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  min-height: 45vh;
  margin-bottom: 7%;
}

#headline {
  min-height: 100vh;
  height: fit-content;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  justify-content: center;
  align-items: flex-start;
  overflow: visible;
}

#bandcamp {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: fit-content;
  height: fit-content;
}

#iframeDiv {
  width: 80%;
  height: fit-content;
}

#iframeDivLarger {
  width: 80%;
  display: none;
}

#bio {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-auto-rows: auto;
  justify-items: center;
  align-items: center;
  height: fit-content;
  overflow: auto;
}

@media screen and (min-width: 550px) {
  a {
    font-size: xx-large;
    margin-bottom: 5%;
  }

  iframe {
    max-width: 700px;
  }

  .bioText {
    margin-bottom: 5%;
  }

  .bioText h1 {
    font-size: xx-large;
  }

  .bioText p {
    font-size: x-large;
  }

  #nextGig {
    text-align: center;
    font-family: basic;
    font-size: x-large;
  }

  #externalLinks {
    margin-top: 3%;
    margin-bottom: 3%;
  }

  .bioBox {
    min-height: 60vh;
  }

  #iframeDiv {
    display: none;
  }

  #iframeDivLarger {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5%;
  }
}

@media screen and (min-width: 900px) {
  #wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #headline {
    max-width: 900px;
  }

  #bio {
    max-width: 900px;
  }
}
