@font-face {
  font-family: impactType;
  src: url(font/impact-label/ImpactLabel.ttf);
}

@font-face {
  font-family: basic;
  src: url(font/uwch.ttf);
}

html,
body {
  padding: 0%;
  margin: 0%;
}

a {
  font-family: impactType;
  color: #000000;
  padding: 3% 0 3% 0;
  text-decoration: none;
  font-size: xx-large;
}

iframe {
  justify-self: center;
  padding-bottom: 1rem;
}

.logo {
  margin-top: 5%;
  display: flex;
  max-width: 100%;
  height: auto;
}

.fellas {
  max-width: 75%;
  height: auto;
  align-self: center;
}

.bioText {
  font-family: basic;
  background-color: #2b2a2a;
  color: #c71c05;
  width: 75%;
  text-align: center;
  margin-bottom: 13%;
}

#wrapper{
  background-image: linear-gradient(rgb(163, 44, 0),
  rgb(133, 1, 1),
  rgb(82, 0, 0),
  rgb(1,1,1)
  );
}

#externalLinks {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 100%;
  gap: 6%;
  text-align: center;
  justify-items: center;
  max-height: auto;
  padding-top: 3%;
}

#headline {
  height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 25% 45% 30%;
  justify-content: center;
  align-items: flex-start;
}

#bandcamp {
  display: grid;
  justify-content: center;
  height: auto;
}

#bio{
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 30% 70%;
  justify-items: center;
}
